@import "theme";
@import "ui/navigation";
@import "ui/welcome";
@import "ui/about";
@import "ui/career";
@import "ui/showcase";
@import "ui/contact";
@import "ui/print";

body {
  background-color: @dark;
  color: @light;
  font-family: @serif;
  font-size: 24pt;
  line-height: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @sans-serif;
  font-weight: @bold;
  line-height: 3.5rem;
}

p {
  margin-bottom: 3.25rem;
}

.tag {
  border-radius: 0.25rem;
  margin: 0.25rem 0.25rem;
  padding: 0 0.35rem;
  font-size: 2rem;
  line-height: 2.5rem;
  display: inline-block;
}