@serif: 'Crimson Text', 'Times New Roman', serif;
@sans-serif: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
@bold: 800;
@dark: #181c1f;
@dim: lighten(@dark, 20%);
@light: #bfcbd2;
@bright: lighten(@light, 10%);
@accent: #9a9c16;
@mask: #097acf;

@color-welcome: #E53935;
@color-about: #D81B60;
@color-career: #FF5722;
@color-contact: #039BE5;
@color-print: #FBC02D;
@color-showcase: #CDDC39;

@color-technologies: #EF5350;
@color-qualifications: #EC407A;
@color-podcasts: #AB47BC;
@color-publishing: #42A5F5;
@color-public-speaking: #D4E157;
@color-blogs: #FF7043;
@color-projects: #78909C;
@color-community: #66BB6A;

@font-size: 1.5rem;

.nav-link(@color, @color-hover) {
  & {
    background-color: @dark;

    .nav-link {
      color: @light;

      &:hover {
        color: @color;
        font-weight: @bold;

        i {
          color: @color;
        }
      }
    }

    &.active, &.show {
      .nav-link {
        color: @color;
        font-weight: @bold;

        span {
          background-color: @color;
          color: @dark;
        }

        &:hover {
          span {
            background-color: @dark;
            color: @color;
          }
        }
      }
    }
  }
}

.dropdown-item(@color) {
  background-color: @dark;
  color: @light !important;
  font-size: 1em;

  &:hover {
    span {
      background-color: @dark !important;
      color: @color !important;
      font-weight: @bold;
    }
  }

  &.active {
    background-color: @dark;

    span {
      background-color: @color;
      font-weight: bold;
      color: @dark;
    }
  }
}

.quick-nav(@color, @top, @left) {
  &:hover {

    a {
      border-color: @color;

      i {
        color: @color;
      }
    }
  }

  &.active {
    a {
      border-color: @color;
      background-color: @color;

      i {
        color: @light;
      }
    }

    &:hover {
      a {
        border-color: @color;
        background-color: @dark;

        i {
          color: @color;
        }
      }
    }
  }

  i {
    top: @top;
    left: @left;
  }
}