@import "../theme";

@color-career-hover: darken(@color-career, 20%);
@color-career-cti: #d43840;
@color-career-globres: #c7343c;
@color-career-it-em: #19abe6;
@color-career-remata: #ed4049;
@color-career-britehouse: #7abc45;
@color-career-dstv: #028ed2;
@color-career-cloudafrica: #c2463a;

.career-spec(@color, @top, @left) {
  p {
    margin: 1rem;
  }

  h2, a {
    color: @color;
    font-weight: @bold;
  }

  .tag {
    background-color: @color;
    color: darken(@color, 30%);
  }

  .icon {
    .icon();
    cursor: default;
    border-color: @color;

    i {
      color: @color;
      top: @top;
      left: @left;
    }
  }
}

#navigation {
  .navbar {
    .nav-item.career {
      .nav-link(@color-career, @color-career-hover);
    }
  }

  .quick-nav {
    li.career {
      .quick-nav(@color-career, 30%, 24%);
    }
  }
}

#career.panel {
  margin-bottom: 2rem;
  position: relative;

  .expander {
    cursor: pointer;
    vertical-align: middle;
    font-size: 1.25rem;

    .label {
      font-family: @sans-serif;
    }

    i {
      display: inline-block;
      padding: .25rem;
      margin-right: .5rem;
      background-color: @light;
      border-radius: .25rem;
      color: @dark;
    }

    &:hover {
      color: @color-career;

      i {
        background-color: @color-career;
      }
    }
  }

  .spec {
    margin-top: 1em;
    background-color: darken(@dark, 5%);
    border-radius: 2.5rem;
    padding: 1em;

    h2 {
      cursor: pointer;
    }

    .icon {
      overflow: hidden;
      position: relative;
      float: right;
    }

    .duration {
      font-size: 1.25rem;
    }

    .blurb {
      margin-left: -1rem;
    }

    .description {
      display: none;
      margin-left: -1rem;

      &.show {
        display: block;
      }
    }
  }

  .cti {
    @color: #cc0000;
    @top: 25%;
    @left: 32%;
    .career-spec(@color-career-cti, @top, @left);
  }

  .globres {
    @color: #0000cc;
    @top: 28%;
    @left: 26%;
    .career-spec(@color-career-globres, @top, @left);
  }

  .it-em {
    @color: #0000cc;
    @top: 28%;
    @left: 26%;
    .career-spec(@color-career-it-em, @top, @left);
  }

  .remata {
    @color: #0000cc;
    @top: 28%;
    @left: 26%;
    .career-spec(@color-career-remata, @top, @left);

    .tag {
      color: @dark;
    }
  }

  .britehouse {
    @color: #0000cc;
    @top: 28%;
    @left: 26%;
    .career-spec(@color-career-britehouse, @top, @left);
  }

  .dstv {
    @color: #0000cc;
    @top: 28%;
    @left: 26%;
    .career-spec(@color-career-dstv, @top, @left);
  }

  .cloudafrica {
    @color: #0000cc;
    @top: 28%;
    @left: 26%;
    .career-spec(@color-career-cloudafrica, @top, @left);
  }
}
