@import "../theme";

.navbar-button() {
  background: none;
  outline: none;
  border: none;
  border-radius: 0;
  width: 3rem;
  height: 3rem;
  float: right;
  display: block;
  margin-top: .25rem;
  margin-left: 0.4rem;
}

.dropdown {
  outline: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;

  .dropdown-menu {
    padding: 0;
    background-color: @dark;
    color: @light;
    border: none;

    .dropdown-item {
      text-align: right;
      margin: 0;
      padding: 0;

      span {
        line-height: 1.25rem;
        display: inline-block;
        padding: 1rem;
      }

      i {
        display: inline-block;
        margin-left: .5em;
      }
    }
  }
}

.dropdown-toggle::after {
  margin: 0;
  border: none;
}

#navigation {
  font-family: @sans-serif;
  margin-bottom: 2rem;

  .navbar {
    background-color: @dark;
    display: block;
    font-size: 1.25rem;
    border-bottom: dashed 1px lighten(@dark, 10%);
    outline: solid 10px @dark;
    margin-bottom: 3rem;
    padding: 0;

    .navbar-brand,
    .navbar-toggler,
    .navbar-print {
      color: @light;
      font-size: 1.5rem;
    }

    .navbar-brand .first-part {
      font-weight: @bold;
    }

    .navbar-print {
      .navbar-button();
      position: relative;

      i {
        position: absolute;
        top: 25%;
        left: 20%;
      }
    }

    .navbar-toggler {
      .navbar-button();
    }

    .nav-link, .dropdown-item {
      span {
        padding: .5em;
        display: inline-block;
      }
    }

    .dropdown-item {
      span {
        margin-bottom: 0.5rem;
      }
    }

    .nav-item {
      border-top: solid 1px lighten(@dark, 4%);

      &.print {
        padding-right: 1.45rem;
        cursor: pointer;
      }

      &:last-child {
        height: 0;
        position: relative;
        border-top: none;
        border-bottom: solid 5px @accent;

        .nav-link {
          i { display: none; }
        }

        &::after {
          @width: 30px;
          border-top: solid @width @accent;
          border-left: solid @width transparent;
          border-right: solid @width transparent;
          border-bottom: solid @width transparent;
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
        }
      }
      text-align: right;
      line-height: 1.25rem;

      i {
        display: inline-block;
        margin-left: .5em;
      }
    }
  }

  .quick-nav {
    padding: 0;

    ul {
      padding: 0;
      width: 100%;
      display: flex;

      li {
        list-style: none;
        margin-right: 1.25rem;

        a {
          .icon();
        }
      }
    }
  }
}