@import "../theme";

@color-showcase-hover: darken(@color-showcase, 20%);
#navigation {
  .navbar {
    .nav-item.showcase {
      .nav-link(@color-showcase, @color-showcase-hover);
    }

    .dropdown .dropdown-menu .dropdown-item.technologies {
      .dropdown-item(@color-technologies);
    }
    .dropdown .dropdown-menu .dropdown-item.qualifications {
      .dropdown-item(@color-qualifications);
    }
    .dropdown .dropdown-menu .dropdown-item.podcasts {
      .dropdown-item(@color-podcasts);
    }
    .dropdown .dropdown-menu .dropdown-item.publishing {
      .dropdown-item(@color-publishing);
    }
    .dropdown .dropdown-menu .dropdown-item.public-speaking {
      .dropdown-item(@color-public-speaking);
    }
    .dropdown .dropdown-menu .dropdown-item.blogs {
      .dropdown-item(@color-blogs);
    }
    .dropdown .dropdown-menu .dropdown-item.projects {
      .dropdown-item(@color-projects);
    }
    .dropdown .dropdown-menu .dropdown-item.community {
      .dropdown-item(@color-community);
    }
  }
}

#technologies.panel {
  .showcase {
    text-align: center;

    img {
      width: 5rem;
      display: inline-block;
      margin-bottom: 1.5rem;
    }
  }

  .more {
    .btn();
    .btn-normal(@dark, @color-technologies);
    margin-top: -8px;
    outline-offset: 0;
  }

  .expand {
    display: none;

    &.active {
      display: block;
    }

    span {
      background-color: @accent;
    }
  }

  span {
    .tag();
    background-color: @mask;
    color: @dark;

    &.spacer {
      background-color: transparent;
      color: @dim;
      padding-left: 0;
      padding-right: 0;
    }
  }
}
